body
{
    background-color: black;
    background-image: url(bg.png);
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 1013px;
  height: 764px;
  background-image: url(librohome.png);
}

.icon {
   opacity: 1;
   transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   -ms-transition: opacity 0.5s;
   cursor: pointer;
}

.popup {
    opacity: 0;
    transition: opacity 0.5s;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   -ms-transition: opacity 0.5s;
   pointer-events: none;
   animation-name:flash;
   animation-duration: 1s;
   animation-direction:alternate;
   animation-iteration-count:0;
   cursor: pointer;
   
}

.titolo {
    font-family:chiller;
    text-align:center;
    color: black;
    opacity: 1;
    
    transition:  0.5s;
   -webkit-transition: color 0.5s;
   -moz-transition: color 0.5s;
   -o-transition: color 0.5s;
   -ms-transition: color 0.5s;

    transition:  0.5s;
   -webkit-transition: font-size 0.5s;
   -moz-transition: font-size 0.5s;
   -o-transition: font-size 0.5s;
   -ms-transition: font-size 0.5s;
}

.titolo:hover {
    cursor: pointer;
    color: red;
    font-size: 3em;
    
}

.raw {
    align-content:center; 
    background-image: Url(blood.png); 
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    text-rendering:optimizeLegibility;

}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    font-size:smaller;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 110; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -o-animation: animatezoom 0.6s;
    -moz-animation: animatezoom 0.6s;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 

@-moz-keyframes animatezoom {
    from {-moz-transform: scale(0)}
    to {-moz-transform: scale(1)}
}

@-o-keyframes animatezoom {
    from {-o-transform: scale(0)}
    to {-o-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 


@font-face {
    font-family: 'chiller';
    src: url('fonts/chiller.eot');
    src: url('fonts/chiller.eot?#iefix') format('embedded-opentype'),
         url('fonts/chiller.woff') format('woff'),
         url('fonts/chiller.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .modal-content {
        width: 80% !important;
    }
}